{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-center">
            <h1>Gestion des voyages</h1>
        </div>
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}